// layout
$breakpoints: (
  "small": 375px,
  "medium": 992px,
  "large": 1200px,
);

#drum-machine {
  @media screen and (max-width: 375px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}
