// colors
/* https://coolors.co/palette/ff595e-ffca3a-8ac926-1982c4-6a4c93 */

$white: hsl(0, 0%, 90%);
$black: hwb(0 0% 100%);
$orange: hsl(358, 100%, 67%);
$yellow: hsl(44, 100%, 61%);
$green: hsl(83, 68%, 47%);
$blue: hsl(203, 77%, 43%);
$purple: hsl(265, 32%, 44%);

// typography
$font-stack: ('Rough', sans-serif);

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

// layout
$breakpoints: (
  'small': 375px,
  'medium': 992px,
  'large': 1200px
);

:root {
  // hur lägger jag till det här globalt?
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: $black;
  color: $yellow;
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

.title {
  color: $yellow;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em;

  position: relative;

  &:before {
    content: '';
    position: absolute;
    background-color: $yellow;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
  
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
  }
}

#drum-machine {
  display: grid;
  padding: .3rem;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid $yellow;
  border-radius: .3rem;
  color: $white;
  box-shadow: 0 0 0.5em 0 $yellow;
}

.pad-bank {
  padding: .3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.drum-pad {
  font-size: 1rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: $orange;
  border: $orange 0.125em solid;

  padding: 0.25em 1em;
  margin: .3em;
  border-radius: .5em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em;
  box-shadow: inset 0 0 0.5em 0 $orange,
  0 0 0.5em 0 $orange;
  position: relative;
  transition: background-color 100ms linear;

  &:hover,
  &:focus {
    color: $yellow;
    background: $orange;
    text-shadow: none;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em;
  }

  &::after {
    content: '';
    background-color: $orange;
    z-index: -1;
    transition: opacity 100ms linear;
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    border-color: $orange;
  }
  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

@media screen and (max-width: 375px) {
  #drum-machine {
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}