:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* font-family: "Times New Roman", Times, serif; */
  font-family: 'Rough', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* https://coolors.co/palette/ff595e-ffca3a-8ac926-1982c4-6a4c93 */
  --orange: #FF595E;
  --yellow: #FFCA3A;
  --green: #8AC926;
  --blue: #1982C4;
  --purple: #6A4C93;


  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#drum-machine {
  display: grid;
  padding: .3rem;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid #e5e5e5;
  background-color: #14213d;
  border-radius: .3rem;
  color: #e5e5e5;
}

.pad-bank {
  padding: .3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.drum-pad {
  font-size: 1rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--orange);
  border: var(--orange) 0.125em solid;

  padding: 0.25em 1em;
  margin: .3em;
  border-radius: .5em;

  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em;

  box-shadow: inset 0 0 0.5em 0 var(--orange),
  0 0 0.5em 0 var(--orange);

  position: relative;

  transition: background-color 100ms linear;

  /* box-shadow: rgb(76, 16, 16) 0px 5px 0 0;
  background: -moz-radial-gradient(circle, rgba(255,89,94,1) 20%, rgb(77, 25, 27) 85%);
  background: -webkit-radial-gradient(circle, rgba(255,89,94,1) 20%, rgba(77, 25, 27) 85%);
  background: radial-gradient(circle, rgba(255,89,94,1) 20%, rgba(77, 25, 27) 85%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff595e",endColorstr="#020024",GradientType=1);
  border: 2px solid rgba(30, 8, 8, 0.8); */
  /* transition: width .8s, height .8s, background-color .8s, rotate .8s;  */
}

.drum-pad:hover,
.drum-pad:focus {
  color: var(--yellow);
  background: var(--orange);
  text-shadow: none;
}

.drum-pad::after {
  content: '';
  background-color: var(--orange);
  z-index: -1;
  transition: opacity 100ms linear;
}

.drum-pad:hover::before,
.drum-pad:focus::before {
  opacity: 1;
  /* background-color: #ffcccc;
  transform: translate(0, 4px) scale(0.97);
  box-shadow: rgb(76, 16, 16) 0px 1px 0 0; */
}

.drum-pad:hover::after,
.drum-pad:focus::after {
  opacity: 1;
  /* transform: translate(0px, 2px);
  box-shadow: var(--purple) 0px 0px 0 0;
  -webkit-box-shadow: var(--purple) 0px 0px 0 0;
  -moz-box-shadow: var(--purple) 0px 0px 0 0; */
}

.rec-btn {
  color: var(--yellow);
  margin: .3rem;
}

.rec-btn:hover,
.rec-btn:focus {
  color: var(--purple);
  background: var(--yellow);
  text-shadow: none;
}

.rec-btn::after {
  content: '';
  background-color: var(--orange);
  z-index: -1;
  transition: opacity 100ms linear;
}

.play-btn {
  color: var(--green);
  margin: .3rem;
}

.play-btn:hover,
.play-btn:focus {
  color: var(--blue);
  background: var(--green);
  text-shadow: none;
}

.play-btn::after {
  content: '';
  background-color: var(--blue);
  z-index: -1;
  transition: opacity 100ms linear;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */


@media screen and (max-width: 375px) {
  #drum-machine {
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}